connectable {
    cursor: default;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
    
    .content {
        position: relative
    }
    
    .svg-container {
        z-index: 800;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0
    }
}