$color-base: #08e;
$color-base-dark: darken($color-base, 10%);
$color-base-accent: #36c0ee;

$color-gray-0: #f0f0f0;
$color-gray-1: #ddd;
$color-gray-2: #ccc;
$color-gray-3: #999;
$color-gray-4: #666;
$color-gray-5: #333;

$border-radius: 4px;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300');

.component * {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $color-gray-4
}

.component-border {
  border: 1px solid $color-gray-2;
  border-radius: $border-radius;
}