@import '../_common/default';

autocomplete {
  display: block;
  position: relative;

  nav.menu {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    margin: 0;
    padding: 0;
    background-color: white;
    max-height: 200px;
    width: 100%;
    overflow-y: hidden;
    z-index: 99;

    border-color: $blue;
  }

  .menu-block:hover {
    background-color: transparent;
  }

  .menu-block.active {
    background-color: $grey-lighter !important;
  }
}