editable-text {
    .editable {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .editable[contenteditable=true] {
        background: rgba(0,0,0,.2);
        padding: .4em .5em;
        margin: -.4em -.5em;
        outline: none;
        
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}