editable-text {
    .editable-container {
        position: relative;
        display: block;
    }
    
    .static-text {
        background: transparent !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .static-text.editing {
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .textarea {
        font-family: inherit, sans-serif;
        font-size: 1em;
        color: inherit;
        box-shadow: none !important;
        outline: none !important;
        padding: 0;
        resize: none;
        width: 100%;
        display: block;
        border: .5em solid transparent !important;
        margin: -.5em;
        background: rgba(0, 0, 0, .1);
        overflow: hidden;
    }
}