editable-text {
    display: block;
    
    .editable, 
    .placeholder {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .editable {
        background: transparent;
        padding: .4em .5em;
        margin: -.4em -.5em;
    }
    
    
    .editable[contenteditable=true] {
        background: rgba(0, 0, 0, .1);
        padding: .4em .5em;
        margin: -.4em -.5em;
        outline: none;
        
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}